.body{
  background-color: #fff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}


* {
  box-sizing: border-box;
}


.css-16htz67-MuiPaper-root-MuiDialog-paper {
  /* box-shadow: none !important;
   */
 max-height: 100vh !important;
  }

  .MuiSvgIcon-root {
    /* color: #000000 !important;
     */
     font-size: 1.7rem !important; 
  }